@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap");

* {
  padding: 0%;
  margin: 0%;
  font-family: "Poppins", sans-serif;
}

/*----------------------------------Main----------------------------------*/

.main {
  background-image: url(assets/images/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.box {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0.69;
  background-color: black;
}

.header {
  display: flex;
  flex-wrap: wrap;
  margin: 24px 10vw 0;
  max-width: 75vw;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.header img {
  width: 150px;
  position: relative;
  z-index: 1;
}

.header button {
  position: relative;
  z-index: 1;
  border: 0px;
  border-radius: 4px;
  background-color: red;
  padding: 3px 16px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  font-family: "Martel Sans", sans-serif;
  cursor: pointer;
}

.topRight{
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: right;
  gap: 10px;
}

.language{
  display: inline-flex;
  align-items: center;
  border: 1px solid #888;
  border-radius: 4px;
  padding: 4px 12px;
  background-color: transparent;
  color: white;
  height: 24px;
  z-index: 1;
  margin: auto;
}

#symbol{
  width: 16px;
  height: 16px;
  margin-right: 2px;
  flex-shrink: 0;
}

#language{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14px;
  padding: 0px 20px 0px 5px;
  width: 100%;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right -2px center;
}

#language:focus {
  outline: none;
}

#language option{
  color: black;
}

.content-wrapper {
  position: relative;
  z-index: 2;
  padding: 40px 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

.text {
  top: 0px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  font-family: "Martel Sans", sans-serif;
}

.text> :nth-child(1) {
  font-size:54px;
  font-weight: bolder;
  text-align: center;
}

.text> :nth-child(2){
  font-size: 54px;
  font-weight: bolder;
  text-align: center;
}

.text> :nth-child(3) {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 24px;
}

.text> :nth-child(4) {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 8px;
}

.Entry{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-top: 12px;
  gap: 12px;
}

#input{
  background-color: rgb(33, 33, 33);
  opacity: 0.8;
  color: white;
  border: white;
  border-radius: 5px;
  border: thin solid;
  width: min(400px,80vw);
  min-width: 100px;
  height: 32px;  
  font-size: 16px; 
  padding: 10px 14px;
}

.start{
  border: 0px;
  border-radius: 5px;
  background-color: red;
  display: inline-flex;
  padding: 10px 24px;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

#arrow{
  padding-left: 12px;
  color: white;
}

::placeholder{
  color: white;
}

/*----------------------------------Curve----------------------------------*/

.curve{
  display: flex;
  flex-wrap: wrap;
}

.separation{
  height: 2px;
  background-color: red;
  background: linear-gradient(to right, rgba(33, 13, 22, 1) 10%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 90%);
}

@media (min-width: 1280px) {
    .separation {
        width: 130%;
        left: -15%;
    }
}

@media (min-width: 960px) {
    .separation {
        width: 150%;
        left: -25%;
    }
}

@media (min-width: 600px) {
    .separation {
        width: 180%;
        left: -40%;
    }
}

@media (min-width: 320px) {
    .separation {
        width: 300%;
        left: -60%;
    }
}

/*----------------------------------Body----------------------------------*/

.main-2{
  background-color: rgb(1, 1, 1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: 0px 30px;
  align-items: center;
}

.reasons{
  padding: 24px 0px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;
}

.reasons h2{
  font-size: 150%;
  font-weight: 600;
  text-align: start;
  margin-bottom: 2px;
  margin-left: 8px;
}

.reason-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.r{
  background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
  display: flex;
  flex-wrap: wrap;
  justify-content:  flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 16px;
  border-radius: 12px;
  height: 100%;
  margin: 8px 4px;
  box-sizing: border-box;
}

.r p{
  margin-top: 8px;
  margin-bottom: 8px;
}

.faqs{
  padding: 24px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;
  margin: 0px auto;
  max-width: 980px; /* match with reasons-wrapper */
  width: 100%;
}

.faqs h2{
  font-size: 150%;
  font-weight: 600;
  text-align: start;
  margin-bottom: 2px;
  padding: 0px 8px;
}

.faqs-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 8px;
  max-width: 980px; /* match with reasons-wrapper */
  width: 100%;
  box-sizing: border-box;
}

.faq-item{
  color: white;
  transition: max-height 0.4s ease;
  margin-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.faq-header{
  background-color: rgb(58, 54, 54);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  min-height: 72px;
  padding: 8px 20px;
}

.question{
  color: white;
  font-weight: 500;
  font-size: 24px;
  overflow: hidden;
  flex: 1;
  line-height: 1.5;
  word-break: break-word;
  padding: 0px 8px;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease , padding 0.4s ease;
    background-color: rgb(58, 54, 54);
    font-size: 24px;
    font-weight: 500;
    color: #ccc;
    padding: 0px 24px;
}

.faq-item img {
  flex-shrink: 0;
  padding-right: 8px;
  width: 28px;
  height: 28px;
  transition: transform 0.3s ease;

}

.faq-item.active img {
  transform: rotate(45deg);
}

.faq-item.active .answer {
  max-height: 500px;
  padding: 16px 24px;
}

@media (max-width: 768px) {
  
  .reasons h2{
    font-size: 20px;
  }
  
  .faqs h2{
    font-size: 20px;
  }
  .question {
    font-size: 20px;
  }

  .answer {
    font-size: 20px;
  }

  .faq-item img{
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 480px) {
  
  .reasons h2{
    font-size: 18px;
  }
  
  .faqs h2{
    font-size: 18px;
  }
  .question {
    font-size: 18px;
  }

  .answer {
    font-size: 18px;
  }

  .faq-item img{
    width: 20px;
    height: 20px;
  }
}

/*----------------------------------Another Entry----------------------------------*/

.another-entry{
  background-color: black;
}

.entry-wrapper {
  position: relative;
  z-index: 2;
  padding: 40px 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

.text-2 {
  top: 0px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  font-family: "Martel Sans", sans-serif;
}

.text-2> :nth-child(1) {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 8px;
}

.Entry-2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-top: 12px;
  gap: 12px;
}

#input-2{
  background-color: rgb(33, 33, 33);
  opacity: 0.8;
  color: white;
  border: white;
  border-radius: 5px;
  border: thin solid;
  width: min(400px,80vw);
  min-width: 100px;
  height: 32px;  
  font-size: 16px; 
  padding: 10px 14px;
}

.start-2{
  border: 0px;
  border-radius: 5px;
  background-color: red;
  display: inline-flex;
  padding: 10px 24px;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

#arrow-2{
  padding-left: 12px;
  color: white;
}

/*----------------------------------Footer----------------------------------*/

.footer {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  padding: 0px 30px;
  align-items: start;
}

.footer-wrapper {
  padding: 24px 0px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;
}

.contact{

}

.footer-links {
  
}

.language-2{
  display: inline-flex;
  align-items: center;
  border: 1px solid #888;
  border-radius: 4px;
  padding: 4px 12px;
  background-color: transparent;
  color: white;
  height: 24px;
  z-index: 1;
  margin: auto;
}

#symbol-2{
  width: 16px;
  height: 16px;
  margin-right: 2px;
  flex-shrink: 0;
}

#language-2{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14px;
  padding: 0px 20px 0px 5px;
  width: 100%;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right -2px center;
}

#language-2:focus {
  outline: none;
}

#language-2 option{
  color: black;
}

.region-name{

}

.exit-note{
  
}